<app-slider></app-slider>
<br>
<div class="row">
    <div class="col-sm-3">
      <div class="card border-5 border-primary" style="width: 20rem;">
        <img src="../../assets/img/expediente.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Expediente Warren</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div> 
    </div>

    <div class="col-sm-3">
        <div class="card border-5 border-primary" style="width: 20rem;">
          <img src="../../assets/img/bohemia.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content, some quick example.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div> 
      </div>

      <div class="col-sm-3">
        <div class="card border-5 border-primary" style="width: 20rem;">
          <img src="../../assets/img/spider.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Spider-Man: Un nuevo universo</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div> 
      </div>

      <div class="col-sm-3">
        <div class="card border-5 border-primary" style="width: 20rem;">
          <img src="../../assets/img/1917.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">1917</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div> 
      </div>
</div>







